@import "../../../styles/common";


.home-hot-movie {

    .slick-slider {

        .slick-prev,
        .slick-next {
            width  : unset;
            height : unset;
            z-index: 100;
            border : 3px solid transparent;

            &::before {
                color: $white_color;
            }
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        .slick-list {
            .slick-track {
                gap    : 30px;
                display: flex;
            }
        }

        .slick-dots {
            li {
                button {
                    &::before {
                        font-size: 10px;
                    }
                }
            }

            .slick-active {
                button {
                    &::before {
                        color: $white;
                    }
                }
            }
        }
    }

    .header-list {
        margin-bottom: 10px;

        .header-list-wrap {
            display        : flex;
            padding        : 5px 10px 2px 0px;
            border-bottom  : 2px solid $primary_color_3;
            margin-bottom  : 10px;
            justify-content: space-between;

            .title-list-index {
                text-transform: uppercase;
                font-size     : 20px;
                color         : $primary_color_3;
            }

            .more-list-index {
                text-transform: initial;
                font-style    : italic;
                color         : $color_near_active;
                font-size     : 14px;
                cursor        : pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .body-list {
        .item-movie {
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

            .wrap-item-movie {
                position: relative;

                .media-box {
                    .movie-thumbnail {}

                    .pic-tag {
                        position          : absolute;
                        display           : inline-block;
                        white-space       : normal;
                        text-align        : left;
                        line-height       : 1.2em;
                        padding           : 5px;
                        font-size         : 11px;
                        font-weight       : normal;
                        color             : $dark_color;
                        background        : $primary_color_3;
                        border-bottom     : 2px solid $primary_color_3;
                        border-radius     : 0 5px 5px 0;
                        -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
                        box-shadow        : 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
                        top               : 5px;
                        left              : 0px;
                    }

                    .movie-meta {
                        position     : absolute;
                        bottom       : 0;
                        left         : 0;
                        right        : 0;
                        background   : rgba(0, 0, 0, 0.7);
                        text-align   : center;
                        overflow     : hidden;
                        white-space  : nowrap;
                        text-overflow: ellipsis;
                        display      : inline-block;
                        z-index      : 3;
                        width        : 100%;
                        padding-top  : 5px;

                        .movie-title-1 {
                            display        : block;
                            overflow       : hidden;
                            text-overflow  : ellipsis;
                            white-space    : nowrap;
                            width          : 100%;
                            color          : $primary_color_3;
                            text-transform : uppercase;
                            font-size      : 12px;
                            font-weight    : 700;
                            text-decoration: none;
                        }

                        .movie-title-2 {
                            display        : inline-block;
                            overflow       : hidden;
                            text-overflow  : ellipsis;
                            white-space    : nowrap;
                            width          : 100%;
                            color          : $color_near_active;
                            font-size      : 12px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

}


// từ 767px trở xuống
@include media-breakpoint-down(sm) {
    .home-leader {
        .home-customer-say-content {
            flex-direction: column;

            .leader-item {
                width    : 100%;
                max-width: 100%;
            }
        }
    }
}