@import "../../../styles/common";

.page-title {
    position        : relative;
    // margin-top   : 5px;
    padding         : 10px 0;
    background      : #222222;

    .wrap-text {
        display    : flex;
        align-items: center;
        gap        : 10px;
        cursor     : pointer;

        .active {
            color : #777777;
            cursor: auto;
        }
    }
}