@import "../../styles/common";

.header {
    // @include themify($themes) {
    background   : $bg_menu;
    border       : none;
    // position  : fixed;
    // right     : 0;
    // left      : 0;
    // z-index   : 1030;
    // top       : 0;
    // filter    : drop-shadow(0 1px 4px rgba(70, 75, 80, .2));

    .container-header {
        height        : 100%;
        margin        : 0 auto;
        // min-height: 110px;
        border-bottom : 2px solid $primary_color_3;
        padding-bottom: 5px;

        .container {
            display: flex;
            gap    : 20px;

        }

        .div-img-logo {
            .img-logo {
                height: 60px;
            }
        }

        .div-input-search {
            input {
                width                : 325px;
                outline              : none;
                border               : 1px;
                background-color     : #15161b;
                border-radius        : 100px;
                color                : #9f9f9f;
                display              : inline-block;
                padding              : 8px 40px 8px 15px;
                text-decoration      : none;
                // -webkit-box-shadow: inset 1px 1px 1px rgb(0 0 0 / 40%), 1px 1px 0 rgb(255 255 255 / 15%);
                // -moz-box-shadow   : inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
                // box-shadow        : inset 1px 1px 1px rgb(0 0 0 / 40%), 1px 1px 0 rgb(255 255 255 / 15%);
            }
        }
    }


    .header-wrap {
        background   : $bg_menu;
        border-bottom: 2px solid $primary_color;

        &.sticky-header {
            z-index                    : 199;
            position                   : fixed;
            top                        : 0 !important;
            left                       : 0;
            width                      : 100%;
            background                 : $bg_menu;
            box-shadow                 : 0 0 10px rgba(9, 9, 9, 0.1);
            -webkit-backface-visibility: hidden;
        }

        .menu {
            .nav-menu {
                display: flex;

                .nav-menu-item {
                    padding       : 15px 15px;
                    display       : block;
                    color         : $white_color;
                    font-weight   : bold;
                    font-size     : 13px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    cursor        : pointer;

                    &.active {
                        >a {
                            color: $primary_color_3;
                        }
                    }

                    &.nav-menu-submenu {
                        position: relative;
                    }

                    .sub-menu {
                        display               : none;
                        position              : absolute;
                        min-width             : 500px;
                        background-color      : $bg_menu;
                        // box-shadow      : 0px 13px 42px 11px rgb(0 0 0 / 5%);
                        // border             : 1px solid #EEE;
                        border-top            : 2px solid $primary_color_3;
                        height                : auto;
                        z-index               : 199;
                        top                   : 50px;
                        left                  : 0;
                        margin                : 0;
                    }

                    &:hover {
                        >a {
                            color: $primary_color_3;
                        }

                        .sub-menu {
                            display: block;
                        }
                    }


                    .sub-menu-item {
                        position: relative;

                        &:hover {
                            background-color: $bg_menu;

                            >a {
                                font-weight : bold !important;
                                padding-left: 25px;
                                transition  : all 0.5s ease-out;
                                color       : $primary_color_3;
                            }
                        }

                        >a {
                            padding           : 0px 20px;
                            font-size         : 12px;
                            font-weight       : 400;
                            height            : 25px !important;
                            line-height       : 25px !important;
                            // color          : #666;
                            padding-top       : 0 !important;
                            padding-bottom    : 0 !important;
                            border            : 0 !important;
                            letter-spacing    : 0;
                            display           : flex;
                            justify-content   : space-between;

                        }

                        .sub-menu-lv2 {
                            display            : none;
                            position           : absolute;
                            width              : 220px;
                            background-color   : $bg_menu;
                            // border          : 1px solid #EEE;
                            border-top         : 2px solid $primary_color_3;
                            height             : auto;
                            z-index            : 199;
                            top                : -2px;
                            left               : 215px;
                            margin             : 0;

                            .sub-menu-item-lv2 {

                                &:hover {
                                    >a {
                                        font-weight : bold !important;
                                        padding-left: 25px;
                                        transition  : all 0.5s ease-out;
                                        color       : $primary_color;
                                    }
                                }

                                >a {
                                    padding           : 0px 20px;
                                    font-size         : 12px;
                                    font-weight       : 600;
                                    height            : 42px !important;
                                    line-height       : 42px !important;
                                    // color          : #666;
                                    padding-top       : 0 !important;
                                    padding-bottom    : 0 !important;
                                    border            : 0 !important;
                                    letter-spacing    : 0;
                                    display           : flex;
                                    justify-content   : space-between;
                                }
                            }
                        }

                        &:hover {
                            .sub-menu-lv2 {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    // }
}


// từ 575.98px trở xuống
@include media-breakpoint-down(xs) {}


// từ 767px trở xuống
@include media-breakpoint-down(sm) {}


// từ 991px trở xuống
@include media-breakpoint-down(md) {
    .header {
        height: 60px;

        .container-header {
            display: flex;
            height : 100%;
            margin : 0 auto;
        }

        .header-wrap {
            display: none;
        }

    }
}