$primary_color   : #131313;
$primary_color_2 : #000000;
$primary_color_3 : #EBE05A;

$primary_color_blue : #0060AF;
$price_text_color   : #888;
$border_color       :#ccc;

$white_color : #ffffff;
$dark_color  : #000000;

$bg_menu :#131313;
$bg_text :#ff0000;


$red_color     : #ed1b24;
$bg_hover_menu : #f4efef;
$border_radius : 5px;


// $themes : (dark: (n_modal_header_background: #fff) //START

//     light : (n_modal_header_background: #fff));